@page
@model CVSTS_FE.Pages.VaccineManage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vaccine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vaccine.Name" class="control-label"></label>
                <input asp-for="Vaccine.Name" class="form-control" />
                <span asp-validation-for="Vaccine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine.Description" class="control-label"></label>
                <input asp-for="Vaccine.Description" class="form-control" />
                <span asp-validation-for="Vaccine.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine.Origin" class="control-label"></label>
                <input asp-for="Vaccine.Origin" class="form-control" />
                <span asp-validation-for="Vaccine.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine.MinAge" class="control-label"></label>
                <input asp-for="Vaccine.MinAge" class="form-control" />
                <span asp-validation-for="Vaccine.MinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine.MaxAge" class="control-label"></label>
                <input asp-for="Vaccine.MaxAge" class="form-control" />
                <span asp-validation-for="Vaccine.MaxAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
