@page
@model CVSTS_FE.Pages.DoseManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DoseSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoseSchedule.Id" />
            <div class="form-group">
                <label asp-for="DoseSchedule.NextDoseDate" class="control-label"></label>
                <input asp-for="DoseSchedule.NextDoseDate" class="form-control" />
                <span asp-validation-for="DoseSchedule.NextDoseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseSchedule.DoseNumber" class="control-label"></label>
                <input asp-for="DoseSchedule.DoseNumber" class="form-control" />
                <span asp-validation-for="DoseSchedule.DoseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseSchedule.Status" class="control-label"></label>
                <input asp-for="DoseSchedule.Status" class="form-control" />
                <span asp-validation-for="DoseSchedule.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseSchedule.CreateAt" class="control-label"></label>
                <input asp-for="DoseSchedule.CreateAt" class="form-control" />
                <span asp-validation-for="DoseSchedule.CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseSchedule.ServiceId" class="control-label"></label>
                <select asp-for="DoseSchedule.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="DoseSchedule.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseSchedule.ChildId" class="control-label"></label>
                <select asp-for="DoseSchedule.ChildId" class="form-control" asp-items="ViewBag.ChildId"></select>
                <span asp-validation-for="DoseSchedule.ChildId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoseSchedule.VaccineId" class="control-label"></label>
                <select asp-for="DoseSchedule.VaccineId" class="form-control" asp-items="ViewBag.VaccineId"></select>
                <span asp-validation-for="DoseSchedule.VaccineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
